.App {
  font-family: sans-serif;
}

.employee {
  border: 1px solid lightgray;
  padding: 4px;
  margin-bottom: 2px;
  width: 200px;
}

input {
  margin-left: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 4px;
  width: 150px;
}

.highlight {
  background-color: yellowgreen;
}
